<html>
	<head>
		<title>Triangle Finder</title>
		<link href="css/main.css" rel="stylesheet" type="text/css"> 
		<link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div>
		<h1>Welcome to the Amazing Triangle Finder</h1>
		</div>
		<h2>Triangle Leg 1: <%=@triangle1.leg1%></h2>
		<h2> Triangle Leg 2: <%=@triangle1.leg2%></h2>
		<h2>Triangle Hypotenuse: <%=@triangle1.hypotenuse%></h2>
		<h2>Triangle Angle 1:<%=@triangle1.angle_1%></h2>
		<h2>Triangle Angle 2: <%=@triangle1.angle_2%></h2>
		<h2>Triangle Angle 3: <%=@triangle1.angle_3%></h2>
		<h2>Triangle Area: <%=@triangle1.area%></h2>
		<h2>Triangle Perimeter: <%=@triangle1.perimeter%></h2>

	</body>
</html>